:root{
    --primary-color: #FFD15B;

    
}
body{
    margin: 0;
    background-color: lightgrey;
}
header{
    background-image: url("assets/Banner-Lespetitsplats.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 220px;
    margin-bottom: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
}
h1{
    color : var(--primary-color);
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    pointer-events: none;
}


#search-bar {
    cursor: pointer;
    width: 1080px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 50px 0 20px; /* 👈 espace à droite pour l’icône */
    font-size: 16px;
}
/**/
.recipes-container{
    padding: 40px;
    text-align: center;
}
/*Carte de recette */
.recipe-card{
    background-color: white;
    width: 380px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.recipe-image{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    object-fit: cover
}

.temp{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.recipe-content{
    text-align: left;
    padding: 20px;
}
.recipe-title{
    font-size: 18px;
    margin: 0 0 10px 0;
}

.ingredients-list ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.filtersContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    margin-top: 20px;
}

/*Nombre de recettes*/
.totalRecipes{
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
}

/*Filtres*/
/* CONTENEUR DU FILTRE */
.filters{
    display: flex;
    align-items: center;
    gap: 20px;
}
.filter {
    position: relative;
    width: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
}

/* BOUTON */
.filter-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
}

/* DROPDOWN CACHÉ PAR DÉFAUT */
.filter-dropdown {
    display: none;                 
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

/* OUVERT UNIQUEMENT AU CLIC */
.filter.open .filter-dropdown {
    display: block;                
}

/* BARRE DE RECHERCHE */
.filter-search {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

/* LISTE */
.filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

/* ITEM */
.filter-item {
    padding: 5px;
    cursor: pointer;
}

.filter-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* FILTRE SÉLECTIONNÉ */
.filterSelected{
    display: none;
}
.filterSelectedActive{
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 50px;
}